{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="col-sm-offset-1 col-sm-10 text-center">
        <h3 class="alert alert-danger">Sorry, there was a problem!</h3>
        <p>You might be trying to access a private profile, have an invalid user or game ID, or Steam's servers might have timed out; try again.</p>
    </div>

    <div class="col-sm-12" style="height:20px;"></div>

    {% if e %}
        <div class="col-sm-offset-2 col-sm-8">
            <pre class="alert alert-danger"><b>ERROR:</b> {{ e }}</pre>
        </div>
    {% endif %}

</div>

{% endblock %}
