{% extends "base.html" %}
{% block title %}PeerPressure: {{ personaname }}'s games{% endblock %}

{% block content %}

<div class="container">

    <div class="col-sm-offset-1 col-sm-10 text-center">
        <h3>Select a game from <strong>{{ steamuser.personaname }}'s</strong> Steam library</h3>
        <a href="{{ steamuser.profileurl }}">
            <span class="badge">
                {{ steamuser.realname }} ({{steamuser.loccountrycode}}) joined {{ steamuser.timecreated|datetimeformat }}
            </span>
        </a>
    </div>

    <div class="col-sm-12" style="height:20px;"></div>

    {% for game in games_list|sort(reverse=True, attribute='playtime_forever') %}

        {% if (game.playtime_forever/60) > 500 %}
            {% set gamecolor = 'btn-danger' %}
        {% elif (game.playtime_forever/60) > 200 %}
            {% set gamecolor = 'btn-warning' %}
        {% elif (game.playtime_forever/60) > 50 %}
            {% set gamecolor = 'btn-info' %}
        {% elif (game.playtime_forever/60) > 1 %}
            {% set gamecolor = 'btn-info' %}
        {% else %}
            {% set gamecolor = 'btn-default' %}
        {% endif %}

        <div class="text-center">
            <a href="/game/{{ steamid }}/{{ game.appid }}" class="btn btn-lg {{ gamecolor }}">
                <div class="pull-left">
                    <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.img_icon_url }}.jpg" height="32" width="32">
                    &nbsp;&nbsp;{{game.name}}
                    &nbsp;&nbsp;<span class="badge">{{ (game.playtime_forever/60)|round(2) }} hours</span>
                </div>
            </a>
        </div>
        <div class="col-sm-12" style="height:5px;"></div>

    {% endfor %}

</div>

{% endblock %}
