{% extends "base.html" %}
{% block title %}PeerPressure: {{ steamuser.personaname }}'s friends playing {{ game_title }}{% endblock %}

{% block content %}

<div class="container">

    <div class="col-sm-offset-1 col-sm-10 text-center">
        <h3><strong>{{ game_title }}</strong> playtime for <strong>{{ steamuser.personaname }}</strong> & friends</h3>
        <p>Click on a friend to see their games</p>

        <a href="{{ steamuser.profileurl }}">
            <span class="badge">
                {{ steamuser.realname }} ({{steamuser.loccountrycode}}) joined {{ steamuser.timecreated|datetimeformat }}, total {{ total_games }} games, {{(total_gametime/60)|round(2) }} hours
            </span>
        </a>
    </div>

    <div class="col-sm-12" style="height:20px;"></div>

    {% for friend in game_stats_detailed|sort(reverse=True, attribute='game_stats.playtime_forever') %}

        {% if (friend.game_stats.playtime_forever/60) > 500 %}
            {% set gamecolor = 'btn-danger' %}
        {% elif (friend.game_stats.playtime_forever/60) > 200 %}
            {% set gamecolor = 'btn-warning' %}
        {% elif (friend.game_stats.playtime_forever/60) > 50 %}
            {% set gamecolor = 'btn-info' %}
        {% elif (friend.game_stats.playtime_forever/60) > 1 %}
            {% set gamecolor = 'btn-info' %}
        {% else %}
            {% set gamecolor = 'btn-default' %}
        {% endif %}

        <div class="text-center">
            <a href="/user/{{ friend.steam_user.steamid }}" class="btn btn-lg {{ gamecolor }}">
                 <img src="{{ friend.steam_user.avatar }}" width="32" height="32">
                 &nbsp;&nbsp;{{ friend.steam_user.personaname }}
                 &nbsp;&nbsp;<span class="badge">{{ (friend.game_stats.playtime_forever/60)|round(2) }} hours</span>
            </a>
        </div>
        <div class="col-sm-12" style="height:5px;"></div>

    {% endfor %}

{% endblock %}
